#box {
    width: 100%;
    /* height: 100%; */
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#navBar {
    background-color: orange;
    width: 100%;
    height: 44px;
    padding: auto;
    /*    background: orange;*/
    /*    position: absolute;*/
    /*    left: 0;*/
    /*    right: 0;*/
    /*    top: 0;*/

}


#top {
    width: 100%;
    height: 340px;
}

#topBg {
    width: 100%;
    height: 100%;
}

#btns {
    position: absolute;
    top: 140px;
    left: 30px;
    right: 30px;
    height: 190px;
    background-color: white;
    border-radius: 25px;
}

#topRowHei {
    height: 95px;
    margin: 0;
    padding: 0;
}

#contenter {
    width: 100%;
    /* height: 600px; */
}

#footer {
    width: 100%;
    height: 100px;
    margin-bottom: 0%;
    text-align: center;
    color: grey;
}