<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>表单绑定</title>
    <script src="../vueJs/vue.js"></script>
    <script src="../../js/h5.js"></script>

</head>

<body>
    <div id="app">
        <navBar-backBtn></navBar-backBtn>

        <br>
        <br>

        <input v-model="message" placeholder="请输入"><br>
        <p>输入的内容:{{message}}</p>
        <br>
        <br>

        <p>多行文本:{{textare}}</p>

        <textarea v-model="textare" cols="30" rows="10"></textarea>
        <br>
        <br>
        <input type="checkbox" v-model="checked">
        {{checked}}


        <br>
        <br>
        <input type="checkbox" value="张三" v-model="checkNames">张三
        <input type="checkbox" value="李四" v-model="checkNames">李四
        <input type="checkbox" value="王武" v-model="checkNames">王武
        <input type="checkbox" value="六二" v-model="checkNames">六二
        <br>
        选中的内容:{{checkNames}}

        <br>
        <br>
        <input type="radio" value="One" v-model="radioRes">One
        <input type="radio" value="Two" v-model="radioRes">Two
        <br>
        单选内容:{{radioRes}}

        <br>
        <br>
        <select v-model="selectRes">
            <option disabled value="">请选择</option>
            <option>A</option>
            <option>B</option>
            <option>C</option>
            <option>D</option>
        </select>
        <br>
        选择内容:{{selectRes}}
        <br>
        <br>
        <select v-model="selectMores" multiple style="height: 6.25rem;">
            <option disabled value="">请选择</option>
            <option>A</option>
            <option>B</option>
            <option>C</option>
            <option>D</option>
        </select>
        <br>
        选择内容:{{selectMores}}
        <br>
        <br>
        <p>过滤首尾空白字符</p>
        <input v-model.trim="msssg">
        {{msssg}}

        <br>
        <br>
        <mycomponent v-bind:obj={name:'张三',age:18} v-bind:othbbj=['哈哈哈']></mycomponent>
    </div>
</body>

<script>

    Vue.component('mycomponent', {
        template: '<div class="mycomponent"><h3> {{obj}}</h3><h3> 22221{{othbbj[0]}}</h3></div>',
        props: ['obj', 'othbbj']
    });


    var vm = new Vue({
        el: '#app',
        data: {
            message: '',
            textare: '',
            checked: false,
            checkNames: [],
            radioRes: 'One',
            selectRes: '',
            selectMores: [],
            msssg: ''
        },
        watch: {
            checked(newVar, oldVar) {
                console.log('new: %s, old: %s', newVar, oldVar)
            },
            checkNames: {
                handler: function (newVar, oldVar) {
                    console.log('new: %s, old: %s', newVar, oldVar)
                },
                deep: true
            }
        }
    })

    // vm.greet()
</script>

</html>