<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
    <script src="../vueJs/vue.js"></script>
    <script src="../../js/h5.js"></script>
</head>

<body>
    <div id="app">
        <navBar-backBtn></navBar-backBtn>

        <br />
        <!-- 插值语法  {{XXXX}}-->
        {{name}}学习Vue,<br />学校:{{school.name}} 地址:{{school.address}}
        <br />
        <!-- 单向绑定  v-bind: -->
        详细住址:<input type="text" v-bind:value="school.addressDetail">
        <br />
        <!-- 双向绑定  v-model: -->
        描述:<input type="text" v-model:value="school.des">
        <br />
        <span v-bind:title="message">
            鼠标悬停几秒钟查看此处动态绑定的提示信息！
        </span>
        <br />
        <!-- 条件  v-if= -->
        <p v-if="seen">看到我了么</p>

        <br />
        <!-- 条件  v-for= -->
        <ol>
            <li v-for="todo in todos">
                {{todo.name}}
            </li>
        </ol>
        <br />
        <!-- 处理用户输入 v-on: -->
        <p>{{message}}</p>
        <button v-on:click="reverseMessage">反转消息</button>
        <br />
    </div>

    <script>
        Vue.config.productionTip = false;

        var app = new Vue({
            el: '#app',
            data: {
                name: '张三',
                school: {
                    name: '郑州大学',
                    address: '河南省郑州',
                    addressDetail: '管城区中州大道1号',
                    des: '描述'
                },
                message: '页面加载于' + new Date().toLocaleString(),
                seen: true,
                todos: [
                    { name: '第 1 行' },
                    { name: '第 2 行' },
                    { name: '第 3 行' },
                ]
            },
            methods: {
                reverseMessage: function () {
                    this.message = this.message.split('').reverse().join('')
                },
                navBack: function () {
                    console.log('11111111')
                    history.back(-1)
                }
            },
        })
    </script>
</body>

</html>