<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>组件 Vue.component</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
    <script src="../vueJs/vue.js"></script>
    <script src="../../js/h5.js"></script>
</head>

<body>

    <div id="zujian">

        <navBar-backBtn></navBar-backBtn>
        <br />
        <!-- 组件 Vue.component -->
        <ol>
            <todo-item v-for="item1 in todos" :totdo="item1" :key="todos.name"></todo-item>
        </ol>

        <br>
        <p>{{foo}}</p>
        <br>
        <button v-on:click="foo = '奔驰'"> change foo</button>
        <br>
        <br>
        <button @click="aletLog"> alert弹窗</button>

        <br>
        <br>
        <button-counter></button-counter>
        <button-counter></button-counter>
        <button-counter></button-counter>
        <br>
        <br>
        <custom-input v-model="searchText"></custom-input>
        {{searchText}}
        <alert-box>
            Something bad happened.
        </alert-box>

        <custome-p tt="aaaaaaaa" nn="1324123131" blg="true"></custome-p>
    </div>

    <script>

        Vue.component('todo-item', {
            props: ['totdo'],
            template: '<li>id {{totdo.id}}  内容 {{totdo.name}}</li>'
        })

        Vue.component('custom-input', {
            props: ['value'],
            template: `
    <input
      v-bind:value="value"
      v-on:input="$emit('input', $event.target.value)"
    >
  `
        })

        Vue.component('alert-box', {

            template: `
    <div class="demo-alert-box">
      <strong>Error!</strong>
      <slot></slot>
    </div>
  `
        })

        Vue.component('custome-p', {
            props: {
                tt: String,
                nn: Number,
                blg: Boolean
            },
            template: `<p>{{tt}} ---- {{nn}}  ---- {{blg}}</p>`
        })

        var vm = new Vue({
            data: {
                zujdian: '组件标题',
                searchtext: ''
            }
        })

        var obj = {
            todos: [
                { id: 0, name: vm.zujdian },
                { id: 1, name: '第 2 行' },
                { id: 2, name: '第 3 行' },
            ],
            foo: '宝马'
        }

        // Object.freeze(obj)//定义对象只读,不可改变其值
        new Vue({
            el: '#zujian',
            data: obj,
            beforeCreate() {
                console.log('beforeCreate 执行了')
            },
            created() {
                console.log('created 执行了')
            },
            beforeMount() {
                console.log('beforeMount 执行了')
            },
            mounted() {
                console.log('mounted 执行了')
            },
            beforeUpdate() {
                console.log('beforeUpdate 执行了')
            },
            updated() {
                console.log('updated 执行了')
            },
            beforeDestroy() {
                console.log('beforeDestroy 执行了')
            },
            destroyed() {
                console.log('destroyed 执行了')
            },
            methods: {
                navBack: function () {
                    console.log('11111111')
                    history.back(-1)
                },
                aletLog: function () {
                    alert('111166666')
                }
            },
        })

    </script>
</body>

</html>